---
import '../styles/global.css';
import ChatIsland from '../components/ChatIsland.svelte';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Technical Writer Bot</title>
		
		<!-- Cloudflare Turnstile -->
		<script is:inline>
			window.turnstileTokenValue = '';
			window.onTurnstileSuccess = function(token) {
				window.turnstileTokenValue = token;
				window.dispatchEvent(new CustomEvent('turnstile-success', { detail: token }));
			};
		</script>
		<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
	</head>
	<body class="bg-gray-900 text-white m-0 p-0 overflow-hidden">
		<ChatIsland client:load />
	</body>
</html>
